:host {
  /* @apply border-red-600 border-2; */
  @apply w-full flex flex-col items-center;
}
button {
  @apply rounded-md p-2 w-48 bg-yellow-400 text-black cursor-pointer mb-10;
}
button:hover {
  @apply bg-yellow-700;
}
button:disabled {
  @apply bg-slate-600;
}
ul {
  @apply list-none flex flex-col text-sm;
}
li {
  @apply pb-1 text-yellow-700;
}
li:hover {
  @apply text-white;
}
span {
  @apply font-semibold w-6 inline-block;
}
